p {
    font-size:200%;
    text-align: center;
    text-shadow: 1px 1px 1px rgb(255, 107, 186);
}
#b1 {
    background-color: aqua;
}
#b2 {
    background-color:tomato;
}
#b3 {
    background-color: blue;
}
#b4 {
    background-color: blueviolet;
}
#b5 {
    background-color: lime;
}
